<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link href="{$wa_app_static_url}css/backend.css?v{$wa->version()}" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.7.1.min.js"></script>
    {wa_js file="js/wa.stickiescontroller.min.js"}
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.core.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.widget.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.mouse.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.draggable.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.droppable.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.resizable.min.js
	{$wa_url}wa-content/js/jquery-ui/jquery.ui.sortable.min.js

	{$wa_url}wa-content/js/jquery-plugins/jquery.history.js
	{$wa_url}wa-content/js/jquery-plugins/jquery.tmpl.min.js
	{$wa_url}wa-content/js/jquery-plugins/jquery.cookie.js
	{$wa_url}wa-content/js/jquery-wa/wa.core.js

	{$wa_app_static_url}js/wa.wastatcontroller.js
	{$wa_app_static_url}js/generic.js
{/wa_js}
   
</head>
<body>
    <div id="wa">
        {$wa->header()}

        <div id="wa-app">

        <div class="sidebar left200px">
        {$sidebar}
        </div>
        <div class="content left200px" id="wastat-content">
        {$content}
        </div>

        </div>

    </div>
  
</body>
<script type="text/javascript">
	$( function() {
		$.wa.wastatcontroller.init();
	});  
</script>
</html>
