<ul class="menu-v">
    <li>
        <a class="bold no-underline" href="#/download/">
            <i class="icon16 update"></i>Обновить данные
        </a>
    </li>
    <li>
        <a class="bold no-underline" href="#/products/">
            <i class="icon16 star"></i>Продукты
        </a>
    </li>
    <li>
        <a class="bold no-underline" href="#/productStatistic/">
            <i class="icon16 notebook"></i>Статистика по продажам
        </a>
    </li>
    <li>
        <a class="bold no-underline" href="#/orderHistory/">
            <i class="icon16 clock"></i>История операций по счету 
        </a>
    </li>
    <li>
        <a class="bold no-underline" href="#/settings/">
            <i class="icon16 settings"></i>Настройки
        </a>
    </li>

</ul>





